In [ ]:
# Data Science Tools and Ecosystem

# Data Science Tools and Ecosystem

In [ ]:
In this notebook, Data Science Tools and Ecosystem are summarized.

In this notebook, Data Science Tools and Ecosystem are summarized.

In [ ]:
# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript

# Some of the popular languages that Data Scientists use are:
1. Python
2. R
3. Javascript

In [ ]:
# Some of the commonly used libraries used by Data Scientists include:
 1. Pandas
 2. Numpy
 3. scikit-learn

# Some of the commonly used libraries used by Data Scientists include:
 1. Pandas
 2. Numpy
 3. scikit-learn

In [ ]:
|Data Science Tools|
|-|
|MySQL|
|MongoDB|
|jupyterlab|

|Data Science Tools|
|-|
|MySQL|
|MongoDB|
|jupyterlab|

### Below are a few examples of evaluating arithmetic expressions in Python.

In [1]:
7-introarithmetic

3

This a simple arithmetic expression to mutiply then add integers

In [2]:
result=(3*4)+5

In [3]:
result

17

In [4]:
result==17

True

 This will convert 200 minutes to hours by diving by 60

In [5]:
200/60

3.3333333333333335

**Objectives:**
List popular languages for Data Science.
- Python 
- R
- SQL

## Author 
name : ABC Cheung